:root {
  --color-base-background: rgb(250, 255, 255);
  --color-base-background-lighter: rgb(243, 243, 243);
  --color-base-text: #000000;
  --color-base-text-lighter: #000000(212, 231, 241, 0.6);
  --color-border: rgba(115, 125, 130, 0.4);
  --color-primary-background: #62f2ff; 
  --color-primary-text: #747474; //リンク
}
